html, body, #container, #main {
  height: 100%;
}

#full_map {
  min-height: 100%;
}

.map_item {
  position: absolute;
  left: -3000px;
  z-index: -1;
}

.item_inner  {
  text-align: center;
  padding: 10px;
}

.item_description {
  width: 60%;
  color: #CCC;
  font-size: 14px;
  margin: 0 auto;
}

#map_nav {
  width: 160px;
  height: 100px;
  position: absolute;
  left: 80px;
  top: 20px;
  padding: 4px;
  background-color: #FFF;
  border: 1px solid black;
  z-index: 10000;
}