.family_member {
  color: blue; }
  .family_member.selected {
    border: 1px solid black;
    background: #CCCCCC;
    color: red; }

#new_item_area {
  width: 50%;
  float: left; }

#new_item_preview {
  width: 40%;
  float: left;
  margin-left: 10px; }

#items_area {
  clear: both; }

#new_item {
  display: none; }

#change_address_area {
  display: none; }

.notice {
  width: 50%;
  margin: 0 auto;
  background: #CCCCCC;
  padding: 10px; }
